/* En este archivo escriban su CSS */


/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/*  para alargar el alto de la página  */
/* html{
height:300vh;
} */
/* Para quitar los puntos a los items de listas */
ul,
li {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1300px;
    margin: 0;
    min-height: 150vh;
}

/***comienzo de css agregado******/

* {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
    text-align: center;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    box-shadow: 0px 0 6px 0px #837f7f;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    /* Animación background con colores */
    background-image: linear-gradient(135deg, rgba(112, 112, 247, 0.2), rgb(21, 255, 0), rgb(207, 36, 207));
    background-size: 500%;
    /* animation: animado 20s infinite;*/
    transition: .5s;
}

/* para llamar j.s y animar el menu al hacer scroll */
header.abajo {
    background-color: #2aeefc;
}

header h1 {
    margin-left: 10px;
    color: #100f11;
    font-style: oblique;
    font-size: 3rem;
}

.div1 a:hover {
    color: #211edf;
    border-radius: 3px;
    transform: scale(1.2);
    cursor: pointer;
    /* display: block; */
}

.div2 {
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    transition: .4s;
    margin-top: 3vh;
}

.div2:hover {
    transform: scale(1.2);
    color: #211edf;
}

/* Animación background con colores */
.div2 a {
    background-image: linear-gradient(135deg, rgb(104, 104, 218), rgb(21, 255, 0), rgb(207, 36, 207));
    background-size: 500%;
}

.nav li {
    flex-direction: column;
    justify-content: right;
    gap: 2px;
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
    float: left;
}

.nav li a {
    display: block;
}

.nav li:hover ul {
    display: block;
    max-height: 500px;
    overflow: visible;
}

img {
    /* display: flex; */
    width: 250px;
    height: 250px;
    border-radius: 30%;
    padding: 0px;
    box-shadow: 1px 1px 10px 1px #2d2f30;
    transition: .5s;
}

.saludo {
    text-align: center;
    padding: 5px;
    font-family: 'lato' ne;
}

.descargacv {
    color: inherit;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
}

section {
    display: flex;
    text-align: center;
    padding: 1px;
    margin: 5px;
    font-style: italic;
}

.section1 p {
    padding: 2rem;
}

.section2,
.section3 {
    display: flex;
    background-image: linear-gradient(170deg, rgb(104, 104, 218, .8), rgb(80, 235, 101, .8), rgb(104, 104, 218));
    background-size: 500%;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    scroll-margin-top: 7ex;
    align-items: center;
    font-style: italic;
    width: 80%;
    margin-left: 10%;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#email {
    background-color: #c9e7e0;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

#email:hover {
    background-color: #c6f777;
}

#github {
    background-color: #c9e7e0;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

#github:hover {
    background-color: #737472;
}

#linkedin {
    background-color: #c9e7e0;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

#linkedin:hover {
    background-color: #89c0f3;
}

footer {
    display: flex;
    width: 100%;
    height: 70px;
    color: #100f11;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(135deg, rgb(104, 104, 218), rgb(21, 255, 0), rgb(207, 36, 207));
    background-size: 500%;
    gap: 20px;
    font-weight: bold;
    position: absolute;
    margin-bottom: 0%;
    box-shadow: 0px 0 6px 0px #837f7f;
}

img:hover {
    transform: scale(1.05);
}

.menu-icon,
.cerrar-menu {
    display: none;
}

/* Desde acá comienzan las especificaciones para el responsive */

@media screen and (max-width: 850px) {

    .menu-icon,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color: #100f11;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        gap: 1px;
        padding: 1rem;
        background-color: rgba(96, 253, 227, 0.9);
        border-radius: 10px;
    }

    nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

@media (max-width: 850px) {
    .section1 {
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .section1 h1{
        font-size: 2rem;
    }

    img{
        width:auto;
        height: 180px;
        transition: 0.5s;
    }
    .header{
        justify-content: space-between;
        text-align: center;
        justify-content: center;
        align-items: center;
        width:auto;
    }
    .header h1{
        font-size: 2rem;
    }
    p {
        font-size: 16px;
        text-align: center;
    }
}
